aside.login-card {
	width: 100%;
	margin: 6px auto 0;
	@include tablet-portrait-and-up {
		width: 33.33333%;
		float: left;
		padding-right: 15px;
		padding-left: 15px;
	}
}

.row {
	@include tablet-portrait-and-up {
		margin-left: -15px;
		margin-right: -15px;
	}
}

.login-form {
	.general-form {
		@include tablet-portrait-and-up {
			// float: left;
			width: 100%;
		}
		div input {
			margin: 10px auto;
		}
	}
	.login-submit {
		margin-top: 25px;
	}
	.btn-blue {
		padding: 20px;
		max-width: 115px;
	}
}

.interest-owners-login {
	.login-card {
		width: 100%;
		float: none;
	}
	.card-bottom {
		margin-top: 30px;
	}
}

.page-template-template-interest-protected-php {
	p {
		text-align: center;
	}
}


.login-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.75);
  display: none; }
  .login-modal svg {
    width: 35px;
    height: 35px;
    fill: #00a8e2;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
    .login-modal svg:hover {
      fill: #ffc20e;
      -webkit-transition: 0.25s;
      -moz-transition: 0.25s;
      transition: 0.25s; }
  .login-modal a {
    color: #00a8e2; }
    .login-modal a:hover, .login-modal a:active {
      color: #ffc20e; }
  .login-modal .login-card {
    width: 96%;
    float: none;
    position: relative;
    top: 54%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .login-modal .general-form {
    width: 100%; }
  .login-modal .close-modal {
    position: relative;
    float: right;
    z-index: 5;
    padding-top: 10px;
    padding-right: 10px; }


/* SEARCH FORM STYLES */
.screen-reader-text {
  display:none;
}

/* Login Modal Styles */
.login-modal.open {
  display:block;
}

/* Login Form */
#loginform label {
  text-align:left;
  font-weight:bold;
  min-width: 100px;
  padding: 0.7em 0;
  max-width: 400px;
  text-align: left;
  display: block;
  width: 90%;
  margin: 0 auto;
}

.login-modal .login-error {
  color:#ff0000;
}

// interest owners login card styles
.io-logins {
  margin-top: 60px;
  @include tablet-portrait-and-up {
    margin-top: 20px;
  }
  aside.login-card {
    @include tablet-portrait-and-up {
      width: 50%;
    }
  }
  .button {
    color: $white;
    &:hover {
      color: $fourpoint_blue;
    }
  }
}

.energylink-login {
  margin: 0 auto;
  display: block;
}

/* NOTES:
Add input[type=password] to text input styling
Add .button-primary to .btn
Add .button-primary to .btn-blue
#login-modal becomes .login-modal
Add .login-error to .login-modal section
*/

