.sp-nav {
    background-color: $dark_gray;
    background-image: none;
    display: inline-block;
}

.sp-subnav {
    .container {
        padding: 40px 0;
        margin: 0 auto;
    }
    li {
        float: left;
        width: 100%;
        margin-bottom: 5%;
        text-align: center;
        @include tablet-portrait-and-up {
            width: 33%;
        }
    }
}

.hero-main {
    .container {
        margin-top: 0;
        @include tablet-portrait-and-up {
            margin-top: 60px;
        }
    }
}

.shadow-border {
    border-radius: 2px;
    box-shadow: 0px 0px 5px 2px rgba(182,182,182,0.5);
}

.search-left {
    margin-bottom: 60px;
    @include tablet-portrait-and-up {
        float: left;
        width: 50%;
        margin-right: 10%;
        margin-left: 3%;
        margin-bottom: 0;
    }
    h1 {
        margin-bottom: 20px;
    }
    h3 {
        color: $black;
        margin-bottom: 10px;
    }
}

.quick-links {
    float: left;
    width: 100%;
    margin-right: 3%;
    max-width: 350px;
    padding: 20px;
    @include tablet-portrait-and-up {
       width: 36%; 
    }
    a {
        color: $medium_gray;
        &:hover {
            color: $yellow;
        }
    }
    h3 {
        text-align: center;
        border-bottom: 1px solid $light_gray;
        padding-bottom: 20px;
    }
    ul {
        margin-top: 15px;
        margin-bottom: 10px;
        li {
            margin: 10px 0;
        }
    }
}

.blue-caps-headline {
    color: $fourpoint_blue;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.holiday-schedule {
    background-color: $fourpoint_blue;
    padding: 60px 0;
    margin-bottom: 40px;
    .slick-prev, .slick-next {
        @include tablet-landscape-and-up {
            -webkit-transform: translate(0, -50%) scale(0.50);
            -ms-transform: translate(0, -50%) scale(0.50);
            transform: translate(0, -50%) scale(0.50);
        }
    }
    .slick-prev {
        left: -30%;
        @media screen and (min-width: 650px) {
            left: -18%;
        }
        @include tablet-portrait-and-up {
            left: -8%;
        }
    }
    .slick-next {
        right: -30%;
        @media screen and (min-width: 650px) {
            right: -18%;
        }
        @include tablet-portrait-and-up {
            right: -8%;
        }
    }
}

.holiday-wrapper {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;

    h3 {
        color: $white;
    }
}

.holiday-container {
    width: 75%;
    margin: 0 auto;
    @include tablet-portrait-and-up {
        width: 100%;
    }
    .slick-list {
        padding: 5px 0;
    }
}

.holiday {
    background: white;
    padding: 10px 0 20px;
    margin: 0 8px;

    h4 {
        font-size: 20px;
        font-weight: 300;
        color: $fourpoint_blue;
        text-align: center;
    }
}

.sp-cal-icon {
    margin: 5px auto 10px;
}

.date {
    background-color: $light_gray;
    p {
        text-align: center;
        padding: 10px 0;
        margin-top: 10px;
    }
    span {
        font-weight: bold;
        display: block;
    }
}

.sp-footer {
    background-color: $light_gray;
    .container {
        @media screen and (max-width: 1024px) {
            margin: 20px auto;
        }
    }
}

.link-container {
    width: 100%;
    margin-bottom: 40px;
    @include tablet-portrait-and-up {
        display: inline-block;
        margin-left: 3%;
        border-left: 1px solid $medium_gray;
        width: 44%;
        margin-bottom: 60px;
    }
    @include tablet-landscape-and-up {
        width: 22%;
        margin-bottom: 0;
    }
    h4 {
        text-transform: uppercase;
        margin: 0 0 1.5em 1.5em;
        font-size: 14px;
    }
    li {
        margin-bottom: 10px;
    }
    a {
        color: $medium_gray;
        &:hover {
            color: $yellow;
        }
    }
}

.box {
    .container {
        border: 1px solid;
        // border-radius:
        // box-shadow: 
        margin: 20px auto;
        position: relative;
        padding: 40px 60px;
    }
}

.box-blue {
    background-color: $fourpoint_blue;
    padding-top: 40px;
    margin-top: 20px;
    .container {
        background-color: $white;
    }
}

.box-left {
    width: 37%;
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    padding-right: 3%;
}
.box-right {
    width: 55%;
    float: right;
    padding-left: 5%;
    border-left: 1px solid $medium_gray;
    li {
        margin-bottom: 45px;
        text-transform: capitalize;
    }
    span {
        width: 50%;
        margin-right: 5%;
        display: inline-block;
    }
    a {
        color: $fourpoint_blue;
        width: 30%;
        margin-left: 15%;
        display: inline-block;
        vertical-align: top;
    }
}

.to-top {
    color: $fourpoint_blue;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    display: block;
}
