/*
!wp-content
wp-content/*
!db
!wp-content/plugins
!wp-content/themes
.DS_Store
.sass-cache
.*
!.gitignore
!README.md
!.editorconfig
~*
ehthumbs.db
Thumbs.db
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
config.codekit
