.container {
	width: 96%;
	max-width: 1100px;
	margin: 60px auto;
	padding: 0px 10px;
	// display: table;
	overflow: auto;
}

h5 {
	font-weight: normal;
}

.page-id-78 {
	.general-content {
		.aligncenter {
			margin-top: 0;
		}
	}
}

.wrapper {
	@include tablet-landscape-and-up {
		max-width: 800px;
		margin: 0 auto;
	}
	h3 {
		color: $fourpoint_blue;
		margin-top: 2.10em;
		font-weight: bold;
		text-transform: uppercase;
		&:first-child {
			margin-top: 0;
		}
	}

	h4 {
		font-size: 19px;
		font-weight: 300;
		margin-top: 50px;
	}
	a {
		color: $fourpoint_blue;
		&:hover {
			color: $yellow;
		}
	}
	li {
		font-size: 16px;
		line-height: 2;
		font-weight: 400;
		text-indent: -20px;
		padding-left: 20px;
	}
}

.half-left {
	width: 50%;
	float: left;
}

.arve-wrapper {
	margin: 40px 0;
	max-width: 1000px !important;
}

.careers-intro {
	max-width: 800px;
	h2, p {
		text-align: center;
	}
}

.general-content {
	.three-width-box {
		padding-left: 0;
	}
	ul {
		margin: 25px 0 20px;
		display: table;
		font-family: 'Source Sans Pro', sans-serif;
		@include tablet-portrait-and-up {
			padding-left: 15px;
		}
		li {
			padding-left: 25px;
			padding-right: 12px;
			text-indent: -15px;
			position: relative;
			list-style: none;
			line-height: 1.5;
			margin-bottom: 13px;
			&:before {
				content: '\2014';
				color: $fourpoint_blue;
				margin-left: -10px;
				margin-right: 12px;
			}
		}
	}
	ol {
		padding-left: 30px;
		margin: 20px 0;
		font-family: 'Source Sans Pro', sans-serif;
	}
	.aligncenter {
		margin: 50px auto;
	}
	.alignright {
		@include tablet-portrait-and-up {
			float: right;
			padding: 0 20px 20px;
			margin: 0 0 0 30px;
		}
	}

	.alignleft {
		@include tablet-portrait-and-up {
			float: left;
				padding: 0 36px 36px 0;
		}
	}
	.arve-wrapper {
		margin: 50px auto 0;
	}
}

.opp-contact {
	float: left;
	width: 100%;
	margin: 36px 0 50px;
	min-height: 215px;
	@include tablet-portrait-and-up {
		width: 49%;
	}
	&:nth-child(even) {
		float: right;
	}
}

// interest owners/contact info page.
.page-id-200 {
	.opp-contact {
		min-height: 0;
		margin-top: 0;
		margin-bottom: 20px;
		p {
			margin: 0;
		}
	}
}

.page-id-187 {
	.opp-contact {
		min-height: 0;
		margin-bottom: 15px;
	}
}

.ownership {
	.box-top {
		height: 170px;
		h3 {
			padding: 1.5em;
		}
	}
}

// justify cards on change of ownership page
.page-id-197 {
	.ownership {
		justify-content: start;
	}
}


/* Page elements via ACF */
.page_elements {
	ul {
		display: block;
		li {
			&:before {
				display: none;
			}
background-image: url("data:image/svg+xml,%3Csvg viewbox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8.963362,8.000003l-5.643249,-7.415884l3.716525,0l5.643249,7.415884l-5.643249,7.415878l-3.716525,0l5.643249,-7.415878z' fill='%2300A2DC'%3E%3C/path%3E%3C/svg%3E");
			background-position: left 5px;
			background-repeat: no-repeat;
			background-size: 16px 16px;
			font-size: 16px;

			text-indent: 0;
		}
	}
}
.section-title {
	margin-top: 40px;
	text-transform: uppercase;
}
.three-width-box {
	@media(min-width: 620px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	> .box {
		display: flex;
		@media(min-width: 620px) {
			width: 50%;
		}
		@media(min-width: 1000px) {
			width: 33.33333333%;
		}
	}
}
.double-width-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	> .box {
		display: flex;
		width: 100%;
		@media(min-width: 620px) {
			width: 40%;
			margin: 5px auto;
		}
		@media(min-width: 768px) {
			margin: 0;
		}
	}
}
.accordion {
	padding-bottom: 3em;
	padding-top: 3em;
	.question {
		h3 { line-height: inherit; }
		a {
			background-color: $teal;
			display: block;
			font-weight: bold;
			font-size: 18px;
			margin-bottom: 2px;
			padding: 20px 45px 20px 20px;
			position: relative;
			text-transform: uppercase;
		}
		.open {
			background: $teal-bg;
			margin-bottom: 0;
			.icon {
				transform: rotate(45deg);
			}
		}
		.icon {
			font-size: 22px;
			position: absolute;
			right: 15px;
			top: 18px;
			transform: rotate(90deg);
			transition: all .3s ease-in;
		}
	}
	.answer {
		background: $lighter_gray;
		padding: 20px 30px;
		p {
			margin: 0;
		}
		a {
			color: $fourpoint_blue;
			&:hover {
				color: $yellow;
			}
		}
	}
}

.box {
	h4 {
		font-size: 16px;
		margin-bottom: 21px;
		text-align: center;
		text-transform: uppercase;
	}
	.box-inner {
		box-shadow: 0 0 4px 1px rgba(0, 0, 0, .35);
		padding: 2em;
	}
}

.cta-cards {
	.box {
		text-align: center;
		.box-inner {
			border-bottom: 5px solid transparent;
			border-top: 5px solid transparent;
		}
		.with-border {
			border-color: $border_gray;
		}
	}
	.icon {
		font-size: 28px;
		margin: 20px auto;
	}
	// Non-standard icon size for contact
	.icon-contact {
		width: auto;
	}
}

.info-cards {
	.box-inner {
		padding: 0;
	}
	.box {
		&.blue-light .box-top h3 {
			background: $box_blue_light;
			color: $box_gray_dark;
		}
		&.blue-dark .box-top h3 {
			background: $box_blue_dark;
			color: $white;
		}
		&.grey-light .box-top h3 {
			background: $box_gray_light;
		}
		&.grey-dark .box-top h3 {
			background: $box_gray_dark;
			color: $white;
		}
	}
}

.list-cards {
	ul {
		padding: 0 10px;
	}
	.box-inner {
		padding: 0;
	}
	h5 {
		background-color: $teal;
		color: $white;
		font-size: 18px;
		font-weight: bold;
		padding: 30px 45px;
		text-align: center;
		text-transform: uppercase;
		position: relative;
	}
	.box-wrap {
		border-top: 4px solid $teal;
	}
	.grey {
		.box-wrap{
			background-color: $box_gray_light;
			border-color: $box_gray_dark;
		}
		h5 {
			background-color: transparent;
			color: $teal;
			position: relative;
			&:after {
				background-color: $medium_gray;
				bottom: 0;
				content: '';
				display: block;
				left: 50%;
				height: 1px;
				position: absolute;
				transform: translateX(-50%);
				width: 90%;
			}
		}
	}
	ul {
		@media(min-width: 620px) {
			columns: auto 2;
		}
	}
}

.number-cards {
	h3 {
		font-size: 18px;
	}
	.blue-bg {
		.box-wrap {
			background-color: $box_blue_light;
			border-top: 4px solid $box_gray_dark;
		}
	}
	.blue-top {
		.box-top {
			background-color: $box_blue_light;
			height: 120px;
		}
	}
	.white-bg {
		.box-wrap {
			border: 1px solid $teal;
			border-top-width: 8px;
		}
	}
	.image-bg {
		.box-inner {
			background-size: cover;
		}
		.box-wrap {
			border-top: 4px solid $teal;
		}
	}
}

.image-bg {
	.box-top {
		h3 {
			margin-bottom: 2px;
		}
	}
}
.number-cards.three-width-box {
	justify-content: normal;
}

ul.list-reset {
	list-style: none;
	margin: 100px 0;
	li {
		list-style: none;
	}
}

.box-wrap {
	height: 100%;
	width: 100%;
	a {
		color: $fourpoint_blue;
		&:hover {
			color: $yellow;
		}
	}
}

.box-top {
	display: table;
	// height: 115px;
	width: 100%;
	h3 {
		font-size: 16px;
		display: table-cell;
		padding: 2.2em 1em 1.35em;
		vertical-align: middle;
		line-height: 1;
	}
}
.counter {
	font-size: 0;
	margin: 0;
	li {
		counter-increment: number-counter;
		position: relative;
		margin-bottom: 15px;
		line-height: 1.25;
		font-weight: 600;
		padding-bottom: 0.5rem;
		display: inline-block;
		&:before {
			content: counter(number-counter);
			font-weight: 700;
			height: 100%;
			position: absolute;
			left: 32px;
			color: #00A2DC;
			font-size: 30px;
			top: 17px;
			height: auto;
			z-index: 3;
		}
	}
}

.box-inner {
	margin: 1rem;
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, .35);
	width: 100%;
	ul {
		padding-left: 10px;
	}
	h3 {
		color: $border_gray;
		font-weight: bold;
		font-size: 21px;
		text-transform: uppercase;
	}
	p {
		padding: 5px 20px 20px;
		font-weight: 400;
	}
	a {
		color: $fourpoint_blue;
		&:hover {
			color: $yellow;
		}
	}
}

// SVG default settings
svg.icon {
	color: inherit;
	display: inline-block;
	fill: currentColor;
	height: 1em;
	vertical-align: text-bottom;
	width: 1em;
}
