@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,200);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

::-moz-selection {
  background: #00a8e2;
  color: white;
  text-shadow: none; }

::selection {
  background: #00a8e2;
  color: white;
  text-shadow: none; }

strong {
  font-weight: bold; }

@-webkit-keyframes come-in {
  to {
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }
@-moz-keyframes come-in {
  to {
    -moz-transform: rotateX(0deg);
    opacity: 1; } }
@keyframes come-in {
  to {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1; } }
@font-face {
  font-family: 'social_icons';
  src: url("/assets/icon_font/icomoon.eot");
  src: url("/assets/icon_font/icomoon.eot?#iefix") format("embedded-opentype"), url("/assets/icon_font/icomoon.woff") format("woff"), url("/assets/icon_font/icomoon.ttf") format("truetype"), url("/assets/icon_font/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
*, *:before, *:after {
  box-sizing: inherit; }

.clearfix {
  zoom: 1;
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body, html {
  font-weight: 400;
  line-height: 1.7em;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #2e2e2d;
  position: relative;
  background: #ffffff;
  -webkit-font-smoothing: antialiased; }

body {
  overflow-x: hidden; }

html {
  box-sizing: border-box; }

img {
  margin: 0 auto;
  display: block;
  max-width: 100%; }

.map-embed {
  float: left; }

.btn {
  padding: 5px 10px;
  background: transparent;
  text-transform: uppercase;
  border: 1px solid #B6B6B6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }
  .btn:hover {
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.2); }

.btn-white {
  background-color: #ffffff;
  color: #00a8e2;
  border: 1px solid #00a8e2;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease; }
  .btn-white:hover {
    background: #00a8e2;
    border-color: #ffffff;
    color: #ffffff;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    transition: background 0.3s ease; }

.btn-blue {
  border: 1px solid #00a8e2; }
  .btn-blue:hover {
    background: #ffffff;
    color: #00a8e2;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    transition: background 0.3s ease; }

nav {
  background: #2e2e2d url("/assets/img/nav_bg_mobile_sm.jpg");
  width: 100%;
  padding: 20px 0 10px;
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  position: static;
  -webkit-transition: padding 0.25s ease;
  -moz-transition: padding 0.25s ease;
  transition: padding 0.25s ease; }
  @media screen and (min-width: 800px) {
    nav {
      background-size: 100%; } }
  nav section {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto; }
  nav .logo {
    width: 154px;
    height: 79px;
    margin: 0 15px;
    float: left; }
    nav .logo img {
      width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      z-index: 12;
      position: relative; }
  nav .no-svg .logo img {
    background: url("/assets/img/FourPoint_Logo.png") no-repeat center center; }
  nav .nav_wrap {
    width: 100%;
    position: relative;
    height: auto;
    overflow: visible;
    min-height: 80px; }
    nav .nav_wrap .mobile_nav_icon {
      display: none;
      font-weight: bold;
      line-height: 18px;
      z-index: 9999;
      position: relative; }
      nav .nav_wrap .mobile_nav_icon i {
        font-size: 18px;
        padding-left: 10px; }
      @media (max-width: 1024px) {
        nav .nav_wrap .mobile_nav_icon {
          display: inline-block;
          color: #ffffff;
          position: absolute;
          right: 20px;
          top: 55px; } }
    nav .nav_wrap .main_nav_wrap {
      display: block;
      position: relative;
      width: 100%; }
      nav .nav_wrap .main_nav_wrap:after {
        content: "";
        display: table;
        clear: both; }
      nav .nav_wrap .main_nav_wrap #main_nav {
        position: relative;
        top: 60px;
        width: 100%;
        right: 0%;
        -webkit-transform-style: preserve-3d;
        text-align: right;
        margin: 0; }
        nav .nav_wrap .main_nav_wrap #main_nav li {
          display: inline-block;
          margin: 0 16px; }
          nav .nav_wrap .main_nav_wrap #main_nav li a {
            text-transform: uppercase;
            font-weight: bold;
            display: block; }
        nav .nav_wrap .main_nav_wrap #main_nav .mobile_utility {
          display: none; }
          @media (max-width: 1024px) {
            nav .nav_wrap .main_nav_wrap #main_nav .mobile_utility {
              display: block; } }
        nav .nav_wrap .main_nav_wrap #main_nav li.more a:after {
          margin-left: 10px;
          content: '\25BE';
          color: white;
          color: rgba(255, 255, 255, 0.6);
          font-size: 24px;
          position: relative;
          top: 2px;
          -webkit-transition: color 0.2s ease;
          -moz-transition: color 0.2s ease;
          transition: color 0.2s ease; }
        nav .nav_wrap .main_nav_wrap #main_nav li.more:hover a:after {
          color: #ffc20e; }
        nav .nav_wrap .main_nav_wrap #main_nav li.more .submenu {
          position: absolute;
          top: 30px;
          line-height: 50px;
          max-height: 0px;
          overflow: hidden;
          width: 100%;
          width: 100vw;
          left: 0;
          left: calc(-50vw + 50%);
          margin: 0;
          background: rgba(0, 0, 0, 0.4);
          text-align: center;
          -webkit-transition: max-height 0.25s ease;
          -moz-transition: max-height 0.25s ease;
          transition: max-height 0.25s ease; }
          nav .nav_wrap .main_nav_wrap #main_nav li.more .submenu li {
            display: inline; }
            nav .nav_wrap .main_nav_wrap #main_nav li.more .submenu li a {
              color: #ffffff;
              display: inline; }
              nav .nav_wrap .main_nav_wrap #main_nav li.more .submenu li a:after {
                content: ''; }
          @media (max-width: 1024px) {
            nav .nav_wrap .main_nav_wrap #main_nav li.more .submenu {
              display: block;
              position: relative;
              right: 0;
              left: auto;
              top: 0;
              line-height: 18px;
              height: auto;
              width: auto;
              text-align: right; }
              nav .nav_wrap .main_nav_wrap #main_nav li.more .submenu li {
                display: block; }
                nav .nav_wrap .main_nav_wrap #main_nav li.more .submenu li a {
                  color: white;
                  margin: 8px 0; } }
        nav .nav_wrap .main_nav_wrap #main_nav li.more .show_submenu {
          height: auto;
          max-height: 50px; }
          @media (max-width: 1024px) {
            nav .nav_wrap .main_nav_wrap #main_nav li.more .show_submenu {
              -webkit-transition: max-height 0.5s ease;
              -moz-transition: max-height 0.5s ease;
              transition: max-height 0.5s ease;
              max-height: 250px; } }
      @media (max-width: 1024px) {
        nav .nav_wrap .main_nav_wrap #main_nav {
          display: none;
          text-align: right;
          top: 0;
          position: relative; }
          nav .nav_wrap .main_nav_wrap #main_nav li {
            display: block;
            margin: 8px 20px; } }
    nav .nav_wrap #mobile_menu {
      cursor: pointer; }
    nav .nav_wrap .utility {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2; }
      nav .nav_wrap .utility .search_wrap, nav .nav_wrap .utility a {
        display: inline-block;
        margin: 0 20px;
        color: #B6B6B6;
        font-weight: bold; }
        @media (max-width: 1024px) {
          nav .nav_wrap .utility .search_wrap, nav .nav_wrap .utility a {
            display: none; } }
      @media (max-width: 1024px) {
        nav .nav_wrap .utility .btn {
          display: block; } }

.search_wrap a {
  display: inline-block;
  margin: 0 20px;
  color: #B6B6B6;
  font-weight: bold; }

.search_wrap {
  margin: 0; }

.search-box {
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  -moz-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: transparent; }
  .search-box + label .search-icon {
    color: #B6B6B6; }
  .search-box:hover {
    color: white; }
    .search-box:hover + label .search-icon {
      color: white; }
  .search-box:focus {
    -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    -moz-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: rgba(255, 255, 255, 0.2);
    color: white; }
    .search-box:focus + label .search-icon {
      color: #ffffff; }
  .search-box:not(:focus) {
    text-indent: -5000px; }

#search-submit {
  position: absolute;
  left: -5000px; }

.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
  z-index: -1; }

.expand_down {
  padding: 20px 0 0; }
  @media (min-width: 768px) {
    .expand_down {
      padding: 20px 0 60px; } }

.lease-sell {
  position: relative;
  z-index: 1;
  height: 25px;
  margin: 0 !important;
  top: 7px;
  left: -13px; }
  .lease-sell .tooltip {
    position: absolute;
    width: 350px;
    right: -12px;
    padding: 15px 20px;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.3;
    font-weight: normal;
    font-size: 14px;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s; }
    .lease-sell .tooltip:after {
      bottom: 100%;
      right: 12px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: -20px; }

.more .active, .more .active:after {
  color: #ffc20e !important; }

.qmark:hover + .tooltip {
  z-index: 3;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }

.home nav {
  background: #2e2e2d; }
  @media (min-width: 1024px) {
    .home nav {
      background: transparent;
      position: absolute;
      height: 110px;
      top: 0;
      left: 0;
      z-index: 99; } }

footer {
  background: #2e2e2d;
  padding: 25px 0; }
  footer section {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto; }
    footer section:after {
      content: "";
      display: table;
      clear: both; }
    footer section ul li {
      display: inline-block;
      margin: 0 10px;
      color: #ffffff; }
    footer section .legal {
      width: 41.667%;
      float: left;
      text-align: left;
      padding-top: 40px; }
    footer section .footer_icon {
      width: 16%;
      float: left;
      text-align: center; }
      footer section .footer_icon img {
        width: 100px;
        height: 100px; }
    footer section .social {
      width: 42%;
      float: left;
      padding-top: 40px; }
      footer section .social ul {
        margin-bottom: 20px; }
        @media (min-width: 1024px) {
          footer section .social ul {
            float: right;
            margin-top: -10px;
            margin-bottom: 0; } }
        footer section .social ul li {
          height: 34px;
          width: 34px;
          font-size: 18px;
          line-height: 34px;
          background: #ffffff;
          border-radius: 50%;
          margin: 0 10px;
          padding: 0;
          text-align: center; }
          footer section .social ul li a {
            color: #000000; }
        footer section .social ul .no_icon {
          background: none;
          width: auto;
          font-size: 13px; }
    @media (max-width: 1024px) {
      footer section .legal, footer section .footer_icon, footer section .social {
        width: 100%; }
        footer section .legal ul, footer section .footer_icon ul, footer section .social ul {
          text-align: center; }
      footer section .social {
        padding-top: 10px; } }
  footer .e-contact, footer .e-contact a {
    font-size: 13px;
    color: #ffffff;
    margin: 0; }
  footer .e-contact {
    margin-top: 1px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; }
    @media (min-width: 1024px) {
      footer .e-contact {
        float: right; } }

header, .text-block {
  padding: 100px 0;
  text-align: center;
  background: #eceae7;
  width: 100%; }
  header p, .text-block p {
    width: 90%;
    max-width: 500px; }

.alt_leader {
  background: #eceae7;
  text-align: center; }
  @media (min-width: 1024px) {
    .alt_leader {
      background: #eceae7 url("/assets/img/map_perspective.jpg") no-repeat right center;
      background-size: 650px 443px; } }
  .alt_leader h1 {
    text-align: center; }
    @media (min-width: 1024px) {
      .alt_leader h1 {
        text-align: left; } }
  .alt_leader section {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 96%; }
    @media (min-width: 1024px) {
      .alt_leader section p {
        margin: 20px 0;
        max-width: 400px; } }
    @media screen and (min-width: 1200px) {
      .alt_leader section p {
        max-width: 500px; } }

.affiliation_logos {
  position: relative;
  z-index: 103;
  border-bottom: 1px solid #f0f0f0;
  background: #00a8e2; }
  .affiliation_logos:after {
    content: "";
    display: table;
    clear: both; }
  .affiliation_logos .logo {
    border: solid #a0bdc7;
    border-width: 1px 0 0 1px;
    float: left;
    width: 33.33333333333333334%;
    padding: 0; }
    .affiliation_logos .logo img {
      width: 100%;
      max-width: 100%;
      margin: 40px auto;
      max-width: 160px;
      height: auto; }
  .affiliation_logos .last_logo {
    width: 100%; }

.content_stack {
  width: 100%;
  height: auto;
  padding: 0 20px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none; }
  .content_stack li {
    position: relative;
    width: 100%;
    height: auto;
    margin: 20px auto;
    padding: 0;
    opacity: 0;
    transition: all 0.5s ease;
    -moz-transform-origin: 50% 50% -50px;
    -ms-transform-origin: 50% 50% -50px;
    -webkit-transform-origin: 50% 50% -50px;
    transform-origin: 50% 50% -50px;
    -moz-transform: perspective(500px) rotateX(-90deg);
    -ms-transform: perspective(500px) rotateX(-90deg);
    -webkit-transform: perspective(500px) rotateX(-90deg);
    transform: perspective(500px) rotateX(-90deg);
    transform: rotateX(-90); }
    .content_stack li:after {
      content: "";
      display: table;
      clear: both; }
    .content_stack li aside {
      position: absolute;
      height: 100%;
      width: 43%;
      top: 0;
      left: 0; }
      .content_stack li aside:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 3; }
      .content_stack li aside h3 {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 124px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        margin: 0 auto;
        width: 100%;
        background: -webkit-linear-gradient(white 50%, rgba(255, 255, 255, 0.1)) no-repeat 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 4;
        opacity: 0;
        -webkit-transition: all 0.5s ease 0.4s;
        -moz-transition: all 0.5s ease 0.4s;
        transition: all 0.5s ease 0.4s; }
    .content_stack li aside[data-bg="bg_1"] {
      background: url("/assets/img/history/history_banner6.jpg") no-repeat center center;
      background-size: cover; }
    .content_stack li aside[data-bg="bg_2"] {
      background: url("/assets/img/history/history_banner5.jpg") no-repeat center center;
      background-size: cover; }
    .content_stack li aside[data-bg="bg_3"] {
      background: url("/assets/img/history/history_banner3.jpg") no-repeat center center;
      background-size: cover; }
    .content_stack li aside[data-bg="bg_4"] {
      background: url("/assets/img/history/history_banner4.jpg") no-repeat center center;
      background-size: cover; }
    .content_stack li aside[data-bg="bg_5"] {
      background: url("/assets/img/history/history_banner7.jpg") no-repeat center center;
      background-size: cover; }
    .content_stack li aside[data-bg="bg_6"] {
      background: url("/assets/img/history/history_banner1.jpg") no-repeat center center;
      background-size: cover; }
    .content_stack li aside[data-bg="bg_7"] {
      background: url("/assets/img/history/history_banner2.jpg") no-repeat center center;
      background-size: cover; }
    .content_stack li article {
      width: 57%;
      height: auto;
      margin: 0 auto;
      background: #00a8e2;
      text-align: left;
      padding: 120px 60px;
      position: relative;
      float: right; }
      .content_stack li article p {
        color: white;
        margin: 0 auto;
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
        -webkit-transition: all 0.5s ease 0.4s;
        -moz-transition: all 0.5s ease 0.4s;
        transition: all 0.5s ease 0.4s; }
    @media (max-width: 1024px) {
      .content_stack li aside h3 {
        font-size: 90px; } }
    @media (max-width: 768px) {
      .content_stack li aside, .content_stack li article {
        width: 100%;
        position: relative; }
        .content_stack li aside h3, .content_stack li article h3 {
          position: relative;
          -webkit-transform: none;
          -moz-transform: none;
          -ms-transform: none;
          -o-transform: none;
          transform: none;
          padding: 60px 0; } }
  .content_stack .left_year aside {
    left: auto;
    right: 0; }
  .content_stack .left_year article {
    float: left;
    background: #ECEAE7; }
    .content_stack .left_year article h3 {
      color: #a89f92; }
    .content_stack .left_year article p {
      color: #5a5247; }

.content_stack .come-in {
  -webkit-animation: come-in 0.5s ease forwards;
  -moz-animation: come-in 0.5s ease forwards;
  animation: come-in 0.5s ease forwards;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s; }
  .content_stack .come-in article p {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }
  .content_stack .come-in aside h3 {
    opacity: 1; }

.content_stack .already-visible {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  transform: rotateX(0);
  opacity: 1;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  opacity: 1; }
  .content_stack .already-visible article h3, .content_stack .already-visible article p {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }

.grid {
  width: 100%; }
  .grid ul {
    position: relative;
    width: 100%;
    padding: 0;
    width: 100%;
    margin: 0 auto; }
    .grid ul:after {
      content: "";
      display: table;
      clear: both; }
    .grid ul li {
      width: 25%;
      float: left;
      display: block;
      padding: 0;
      margin: 0 auto; }
      @media (max-width: 1024px) {
        .grid ul li {
          width: 33.33333%; } }
      @media (max-width: 768px) {
        .grid ul li {
          width: 50%; } }
      @media (max-width: 480px) {
        .grid ul li {
          width: 100%; } }
      .grid ul li a {
        display: block;
        position: relative;
        overflow: hidden; }
        .grid ul li a img {
          width: 100%;
          height: auto;
          max-width: 100%; }
        .grid ul li a div {
          position: absolute;
          bottom: 4%;
          margin-bottom: -40px;
          width: 100%;
          padding: 0 15px 10px;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          transition: all 0.4s ease; }
          .grid ul li a div h4, .grid ul li a div p {
            padding: 0;
            margin: 0;
            font-family: 'Montserrat', sans-serif;
            color: #ffffff !important;
            letter-spacing: 0; }
          .grid ul li a div h4 {
            font-size: 1.7em; }
          .grid ul li a div span {
            font-size: 12px;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            color: #00a8e2;
            padding: 0;
            padding-left: 30px;
            line-height: 12px;
            position: relative;
            font-weight: 700;
            line-height: 22px;
            display: block;
            -webkit-transition: color 0.3 ease;
            -moz-transition: color 0.3 ease;
            transition: color 0.3 ease;
            background: none;
            opacity: 0;
            display: block;
            margin-top: 5px;
            -webkit-transition: opacity 0.3s ease 0.3s;
            -moz-transition: opacity 0.3s ease 0.3s;
            transition: opacity 0.3s ease 0.3s; }
            .grid ul li a div span:before {
              content: '';
              position: absolute;
              width: 20px;
              height: 20px;
              left: 0;
              top: 0px;
              -webkit-transition: all 0.3 ease;
              -moz-transition: all 0.3 ease;
              transition: all 0.3 ease;
              background: #00a8e2 url("/assets/img/icons/btn_arrows.svg") no-repeat center center;
              border-radius: 50%; }
            .grid ul li a div span:hover {
              color: #ffc20e; }
              .grid ul li a div span:hover:before {
                background: #ffc20e url("/assets/img/icons/btn_arrows.svg") no-repeat center center; }
        .grid ul li a span {
          position: absolute;
          width: 100%;
          padding: 10px 15px;
          top: 70%;
          height: 130%;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease;
          background-image: -webkit-linear-gradient(transparent 0, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 100%);
          background-image: linear-gradient(to   , rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 100%); }
        .grid ul li a:hover span {
          top: -30%; }
        .grid ul li a:hover div {
          bottom: 35%; }
          .grid ul li a:hover div span {
            opacity: 1; }

.team_profile header {
  width: 100%;
  padding: 0;
  max-width: 100%;
  display: table;
  height: auto;
  position: relative;
  margin: 0 auto 50px;
  overflow: hidden; }
  .team_profile header:after {
    content: "";
    display: table;
    clear: both; }
  .team_profile header img {
    width: 55%;
    margin: 0 auto;
    padding: 0;
    float: right;
    display: table-cell; }
  .team_profile header .team_title {
    height: 100%;
    width: 45%;
    display: block;
    position: absolute;
    display: table-cell; }
    .team_profile header .team_title span {
      right: 10%;
      display: block;
      text-align: left;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .team_profile header .team_title span h3 {
        color: #838383; }
  @media (max-width: 768px) {
    .team_profile header img {
      width: 115%;
      margin: 0 auto;
      padding: 0;
      float: none;
      display: block;
      margin-left: -15%; }
    .team_profile header .team_title {
      height: auto;
      width: 100%;
      display: block;
      position: relative;
      display: block; }
      .team_profile header .team_title span {
        right: auto;
        display: block;
        text-align: center;
        padding: 60px 0;
        position: relative;
        top: 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); }
        .team_profile header .team_title span h3 {
          color: #838383; } }
.team_profile article {
  width: 90%;
  max-width: 740px;
  margin: 20px auto 50px; }
  .team_profile article h3, .team_profile article p {
    padding: 0 40px;
    position: relative; }
  .team_profile article h3::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background: #00a8e2; }

.form_wrap {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }
  .form_wrap div {
    margin: 15px auto; }
    .form_wrap div:after {
      content: "";
      display: table;
      clear: both; }
    .form_wrap div label, .form_wrap div input {
      display: block;
      width: 90%;
      margin: 0 auto; }
    .form_wrap div input, .form_wrap div textarea {
      padding: 0.7em;
      border: none;
      border-radius: 2px;
      display: block; }
    .form_wrap div input[type="text"], .form_wrap div input[type="email"], .form_wrap div textarea, .form_wrap div select {
      margin: 0 auto 1em;
      border: 1px solid #d5d5cc;
      outline: none;
      background: #ecece8;
      height: 50px; }
    .form_wrap div label {
      min-width: 100px;
      padding: 0.7em 0;
      max-width: 400px;
      text-align: left; }
    .form_wrap div input, .form_wrap div textarea {
      width: 90%;
      max-width: 400px; }
    .form_wrap div textarea {
      min-height: 80px; }
    @media (max-width: 768px) {
      .form_wrap div input, .form_wrap div label, .form_wrap div .form_select, .form_wrap div input[type="text"], .form_wrap div input[type="email"], .form_wrap div textarea {
        float: none;
        width: 90%;
        margin: 0 auto;
        max-width: 450px;
        text-align: left;
        display: block; }
      .form_wrap div label {
        padding: 0.7em 0; } }
  .form_wrap .form_select {
    background: #ecece8;
    border: 1px solid #d5d5cc;
    color: #a7a794;
    border-radius: 2px;
    padding: 0.7em;
    max-width: 400px;
    width: 90%;
    position: relative;
    font: normal 11px/normal 'Lucida Grande';
    cursor: pointer;
    margin: 0 auto; }
    .form_wrap .form_select:hover {
      background: #e0e0da; }
    .form_wrap .form_select select {
      -webkit-appearance: none;
      width: 100%; }
    .form_wrap .form_select:after {
      content: "▼";
      color: #bebeb0;
      font-size: 12px;
      margin-top: -7px;
      position: absolute;
      top: 50%;
      right: 10px;
      vertical-align: middle;
      z-index: 1; }
    .form_wrap .form_select label {
      margin-left: 0; }
    .form_wrap .form_select .select {
      background-color: transparent;
      border: 0;
      color: #fff;
      padding: 25px 20px;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 2; }
      .form_wrap .form_select .select option {
        background: #B6B6B6; }

.copy_split {
  margin: 50px auto; }
  .copy_split .side-content {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 0; }
    .copy_split .side-content:after {
      content: "";
      display: table;
      clear: both; }
    .copy_split .side-content aside {
      width: 40%;
      padding: 0 40px;
      float: left; }
      .copy_split .side-content aside p {
        font-weight: bold;
        padding-left: 30px;
        position: relative;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif; }
        .copy_split .side-content aside p:before {
          content: '';
          width: 4px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: #00a8e2; }
    .copy_split .side-content article {
      width: 60%;
      padding: 0 40px;
      float: left; }
      .copy_split .side-content article a {
        font-size: 12px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        color: #00a8e2;
        padding: 0;
        padding-left: 30px;
        line-height: 12px;
        position: relative;
        font-weight: 700;
        line-height: 22px;
        display: block;
        -webkit-transition: color 0.3 ease;
        -moz-transition: color 0.3 ease;
        transition: color 0.3 ease; }
        .copy_split .side-content article a:before {
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          left: 0;
          top: 0px;
          -webkit-transition: all 0.3 ease;
          -moz-transition: all 0.3 ease;
          transition: all 0.3 ease;
          background: #00a8e2 url("/assets/img/icons/btn_arrows.svg") no-repeat center center;
          border-radius: 50%; }
        .copy_split .side-content article a:hover {
          color: #ffc20e; }
          .copy_split .side-content article a:hover:before {
            background: #ffc20e url("/assets/img/icons/btn_arrows.svg") no-repeat center center; }
    @media (max-width: 768px) {
      .copy_split .side-content article, .copy_split .side-content aside {
        width: 100%;
        float: none; } }

/* Home page slider sytles */
.hero-slider {
  height: 400px;
  width: 100%;
  overflow: hidden;
  background-color: gray; }
  @media (min-width: 768px) {
    .hero-slider {
      height: 500px; } }
  @media (min-width: 1024px) {
    .hero-slider {
      height: 610px; } }

.hero-slider-item {
  position: relative; }

.the-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 400px; }
  @media (min-width: 768px) {
    .the-slide {
      height: 500px; } }
  @media (min-width: 1024px) {
    .the-slide {
      height: 610px; } }

.hero-slider-copy {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 96%;
  text-align: center;
  z-index: 1001;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media (min-width: 768px) {
    .hero-slider-copy {
      width: 80%;
      top: 250px; } }
  @media (min-width: 1024px) {
    .hero-slider-copy {
      width: 68%;
      top: 330px; } }
  .hero-slider-copy p {
    font-size: 18px;
    font-weight: bold; }
    @media (max-width: 768px) {
      .hero-slider-copy p {
        width: 75%; } }
  .hero-slider-copy h1 {
    color: #ffffff;
    font-size: 4em;
    line-height: 0.85; }
    @media (min-width: 1024px) {
      .hero-slider-copy h1 {
        font-size: 6em; } }

.button {
  display: inline-block;
  background: #00a8e2;
  padding: 15px 30px;
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin: 0 auto;
  display: block;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease; }
  .button:hover {
    background: #0082af; }

.panel h1 {
  color: #2e2e2d; }

.panel-gray {
  background-color: #2e2e2d; }
  .panel-gray h1, .panel-gray p {
    color: #ffffff; }

.panel-white {
  background-color: #ffffff; }

.panel-blue {
  background-color: #00a8e2;
  color: #ffffff; }
  .panel-blue h1 {
    color: #ffffff; }

.home-img-full {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.experience-img {
  background-image: url(../img/map_perspective.jpg); }

.btn {
  padding: 5px 10px;
  background: transparent;
  text-transform: uppercase;
  border: 1px solid #B6B6B6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }
  .btn:hover {
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.2); }

.btn-white {
  background-color: #ffffff;
  color: #00a8e2;
  border: 1px solid #00a8e2;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease; }
  .btn-white:hover {
    background: #00a8e2;
    border-color: #ffffff;
    color: #ffffff;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    transition: background 0.3s ease; }

.btn-blue {
  border: 1px solid #00a8e2; }
  .btn-blue:hover {
    background: #ffffff;
    color: #00a8e2;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    transition: background 0.3s ease; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-loading .slick-list {
  background: #fff slick-image-url("../img/ajax-loader.gif") center center no-repeat; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./../img/ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  z-index: 999;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  width: 80px;
  height: 105px;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  @media (min-width: 768px) {
    .slick-prev,
    .slick-next {
      top: 250px; } }
  @media (min-width: 1024px) {
    .slick-prev,
    .slick-next {
      top: 330px; } }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.75; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -20px; }
  @media (min-width: 1024px) {
    .slick-prev {
      left: 25px; } }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: 25px; }
  .slick-prev:before {
    content: url("../img/icons/icon-arrow-left-small.svg"); }
    @media (min-width: 1024px) {
      .slick-prev:before {
        content: url("../img/icons/icon-arrow-left.svg"); } }

.slick-next {
  right: -20px; }
  @media (min-width: 1024px) {
    .slick-next {
      right: 25px; } }
  .slick-next:before {
    content: url("../img/icons/icon-arrow-right-small.svg"); }
    @media (min-width: 1024px) {
      .slick-next:before {
        content: url("../img/icons/icon-arrow-right.svg"); } }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 15px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
  margin: 0; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 48px;
        line-height: 20px;
        text-align: center;
        color: white;
        opacity: 0.75;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: #00a8e2;
      opacity: 0.75; }

.container {
  width: 96%;
  max-width: 1100px;
  margin: 50px auto;
  padding: 0px 10px;
  display: table; }

@media (min-width: 1024px) {
  .wrapper {
    max-width: 850px;
    margin: 0 auto; } }

.half-left {
  width: 50%;
  float: left; }

.arve-wrapper {
  margin: 40px 0; }

.careers-intro {
  max-width: 800px; }
  .careers-intro h2, .careers-intro p {
    text-align: center; }

.general-content ul {
  margin-bottom: 20px; }
  .general-content ul li {
    list-style-type: disc;
    list-style-position: inside; }
.general-content img {
  margin: 20px auto; }

#form-error-msg {
  color: red;
  display: none;
  margin-bottom: 10px; }

.select-dept-label {
  margin-bottom: 10px;
  width: 100%;
  display: inline-block; }

.general-form {
  width: 100%; }
  @media (min-width: 768px) {
    .general-form {
      float: left;
      width: 50%; } }
  .general-form button {
    margin: 0 auto 20px; }
  .general-form .contact-form-header {
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase; }

.emergency-contact-num {
  width: 100%;
  background-color: #00a8e2;
  padding: 10px 0; }
  .emergency-contact-num .container {
    margin: 0 auto; }
  .emergency-contact-num h2 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .emergency-contact-num h2 {
        float: left; } }
  .emergency-contact-num a {
    font-size: 20px;
    line-height: 1.3;
    display: block;
    text-align: center;
    margin-top: 15px; }
    @media (min-width: 768px) {
      .emergency-contact-num a {
        float: right;
        font-size: 24px;
        margin: 0; } }

.sidebar {
  width: 100%;
  margin-top: 60px; }
  @media (min-width: 768px) {
    .sidebar {
      float: left;
      width: 50%;
      margin: 0; } }
  .sidebar h2 {
    text-align: center;
    margin: 20px 0 10px;
    text-transform: uppercase; }
  .sidebar .copy_split {
    margin: 0; }
    .sidebar .copy_split .side-content {
      width: 100%;
      padding: 12px 0; }
      .sidebar .copy_split .side-content aside {
        width: 100%; }
        .sidebar .copy_split .side-content aside p {
          margin: 5px 0;
          padding-left: 0;
          text-align: center; }
          .sidebar .copy_split .side-content aside p:before {
            content: none; }
      .sidebar .copy_split .side-content article {
        width: 100%;
        padding: 0 70px;
        text-align: center; }
        .sidebar .copy_split .side-content article a {
          display: inline-block; }

.card {
  width: 90%;
  max-width: 450px;
  margin: 20px auto;
  padding-bottom: 20px;
  text-align: center; }
  @media (min-width: 768px) {
    .card {
      width: 63%; } }
  .card img {
    width: 100%; }

.card-bottom {
  margin-top: -40px;
  background-color: #ecece8;
  z-index: 3;
  position: relative;
  padding-bottom: 22px; }
  .card-bottom p {
    padding: 0 15px;
    margin: 10px 0 25px;
    line-height: 1.25; }
  .card-bottom h3 {
    text-transform: uppercase;
    color: #00a8e2; }
  .card-bottom .inner {
    width: 96%;
    margin: 15px auto 0;
    display: inline-block; }

/* MAP Area styles */
.map-block {
  background-color: #2e2e2d; }
  .map-block .map-address, .map-block .google-map {
    width: 100%;
    overflow: hidden;
    height: 350px; }
    @media (min-width: 768px) {
      .map-block .map-address, .map-block .google-map {
        width: 50%;
        float: left; } }
  .map-block .google-map iframe {
    width: 100%;
    height: 100%; }

.blue-block {
  background-color: #00a8e2; }
  @media (min-width: 768px) {
    .blue-block {
      float: right !important; } }

.map-address {
  color: #ffffff;
  position: relative; }
  .map-address .inner {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .map-address .inner p {
      margin: 5px 0; }
  .map-address h3 {
    color: #ffffff; }

h1, h2 {
  color: #00a8e2; }

h1, h2, h3, h6 {
  font-weight: bold;
  line-height: 1.3em; }

h1 {
  font-size: 31px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    h1 {
      font-size: 36px; } }

h2 {
  font-size: 20px; }
  @media (min-width: 768px) {
    h2 {
      font-size: 24px; } }

h3 {
  font-size: 18px;
  color: #868586;
  font-weight: 300; }
  @media (min-width: 768px) {
    h3 {
      font-size: 22px; } }

ul, ol {
  margin-left: 1.5em;
  text-align: left; }

a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease; }
  a:hover, a:active {
    color: #ffc20e;
    text-decoration: none; }
  a img {
    border: none; }

p {
  font-size: 16px;
  line-height: 1.5em;
  margin: 20px auto;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

blockquote {
  padding-left: 1em;
  margin-left: 1em;
  border-left: 1px solid #333333;
  font-style: italic; }

.social a {
  font-family: 'social_icons';
  font-size: 18px;
  text-transform: none; }

[data-icon]:before {
  font-family: "social_icons";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

aside.login-card {
  width: 100%;
  margin: 6px auto 0; }
  @media (min-width: 768px) {
    aside.login-card {
      width: 33.33333%;
      float: left;
      padding-right: 15px;
      padding-left: 15px; } }

@media (min-width: 768px) {
  .row {
    margin-left: -15px;
    margin-right: -15px; } }

#login-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.75);
  display: none; }
  #login-modal svg {
    width: 35px;
    height: 35px;
    fill: #00a8e2;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
    #login-modal svg:hover {
      fill: #ffc20e;
      -webkit-transition: 0.25s;
      -moz-transition: 0.25s;
      transition: 0.25s; }
  #login-modal a {
    color: #00a8e2; }
    #login-modal a:hover, #login-modal a:active {
      color: #ffc20e; }
  #login-modal .login-card {
    width: 96%;
    float: none;
    position: relative;
    top: 54%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  #login-modal .general-form {
    width: 100%; }
  #login-modal .close-modal {
    position: relative;
    float: right;
    z-index: 5;
    padding-top: 10px;
    padding-right: 10px; }

.gallery-img-hidden {
  display: none; }

.gallery-page img {
  width: 100%; }

.single-img, .gallery, .single-video {
  float: left;
  width: 50%;
  padding: 10px;
  position: relative; }
  @media (min-width: 768px) {
    .single-img, .gallery, .single-video {
      width: 33.3333%;
      padding: 1.4em; } }
  @media (min-width: 1024px) {
    .single-img, .gallery, .single-video {
      padding: 2.5em; } }
  .single-img a, .gallery a, .single-video a {
    position: relative;
    display: table; }
    .single-img a:after, .gallery a:after, .single-video a:after {
      opacity: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      z-index: 2;
      -webkit-transition: 0.25s ease;
      -moz-transition: 0.25s ease;
      transition: 0.25s ease; }
    .single-img a:hover:after, .gallery a:hover:after, .single-video a:hover:after {
      opacity: 1;
      -webkit-transition: 0.25s ease;
      -moz-transition: 0.25s ease;
      transition: 0.25s ease; }
    .single-img a span, .gallery a span, .single-video a span {
      position: absolute;
      bottom: 0;
      left: 20px;
      padding-left: 21px;
      z-index: 3;
      color: #ffffff;
      font-size: 16px;
      opacity: 0;
      max-width: 90%;
      -webkit-transition: 0.25s ease;
      -moz-transition: 0.25s ease;
      transition: 0.25s ease; }
      @media (min-width: 768px) {
        .single-img a span, .gallery a span, .single-video a span {
          left: 30px;
          max-width: 75%; } }
      .single-img a span:before, .gallery a span:before, .single-video a span:before {
        content: '';
        position: absolute;
        left: -10px;
        width: 20px;
        height: 20px;
        top: 0px;
        border-radius: 50%;
        opacity: 0;
        background: #ffc20e url("/assets/img/icons/btn_arrows.svg") no-repeat center center;
        -webkit-transition: 0.25s ease;
        -moz-transition: 0.25s ease;
        transition: 0.25s ease; }
    .single-img a:hover > span, .gallery a:hover > span, .single-video a:hover > span {
      bottom: 20px;
      opacity: 1;
      color: #ffc20e;
      -webkit-transition: 0.25s ease;
      -moz-transition: 0.25s ease;
      transition: 0.25s ease; }
      .single-img a:hover > span:before, .gallery a:hover > span:before, .single-video a:hover > span:before {
        opacity: 1;
        -webkit-transition: 0.25s ease;
        -moz-transition: 0.25s ease;
        transition: 0.25s ease; }

.single-video a {
  position: relative; }
  .single-video a:before {
    position: absolute;
    content: url(/assets/img/icons/icon-play.png);
    top: 50%;
    left: 50%;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.gallery:before, .gallery:after {
  position: absolute;
  top: 50%;
  width: 50px;
  height: auto;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.gallery:before {
  display: none; }
  @media (min-width: 768px) {
    .gallery:before {
      display: block;
      content: url(/assets/img/icons/arrow-left.png);
      left: calc(32px + 2.5em); } }
.gallery:after {
  display: none; }
  @media (min-width: 768px) {
    .gallery:after {
      display: block;
      content: url(/assets/img/icons/arrow-right.png);
      right: calc(20px - 2.5em); } }

.gallery-filter {
  margin-bottom: 50px; }
  .gallery-filter ul {
    text-align: center; }
  .gallery-filter li, .gallery-filter button {
    display: inline; }
  .gallery-filter button {
    margin: 0 2%; }
  .gallery-filter p {
    text-align: center;
    font-weight: 700; }

/*# sourceMappingURL=style.css.map */
