nav {
	background-image: url('../images/nav_bg_mobile_sm2.jpg');
	width: 100%;
	padding: 0;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: $dark_gray;
	position: static;
	@media screen and (min-width: 1025px) {
		padding: 20px 0 10px;
		background-size: cover;
		background-image: url('../images/nav_bg_160.jpg');
	}
	@include transition(padding 0.25s ease);

	section {
		@include outer-container;
	}
	.logo {
		width: 80px;
		height: auto;
		margin: 0 15px;
		float: left;
		padding: 10px 0;
		@include tablet-landscape-and-up {
			width: 154px;
			height: 79px;
			padding: 0;
		}
		img {
			width: 100%;
			height: auto;
			margin: 0 auto;
			display: block;
			z-index: 12;
			position: relative;
		}
	}

	.no-svg .logo img {
		background: url('../images/FourPoint_Logo.png') no-repeat center center;
	}
	.nav_wrap {
		width: 100%;
		position: relative;
		height: auto;
		overflow: visible;
		@include tablet-landscape-and-up {
			min-height: 80px;
		}
		.mobile_nav_icon {
			display: none;
			font-weight: bold;
			line-height: 18px;
			z-index: 9999;
			position: relative;
			i {
				font-size: 18px;
				padding-left: 10px;
				vertical-align: middle;
			}
			@include media(tablet_large) {
				display: inline-block;
				color: $white;
				float: right;
				line-height: 60px;
				vertical-align: middle;
				margin: 0 15px;
				// position: absolute;
				// right: 20px;
				// top: 55px;
			}
		}
		.main_nav_wrap {
			display: block;
			position: relative;
			width: 100%;
			@include clearfix;
			#main_nav {
				position: relative;
				top: 53px;
				width: 100%;
				right: 0%;
				-webkit-transform-style: preserve-3d; 
				text-align: right;
				margin: 0;
				li {
					display: inline-block;
					margin: 0 15px;
					a {
						text-transform: uppercase;
						font-weight: bold;
						display: block;
					}
				}
				.mobile_utility {
					display: none;
					@include media(tablet_large) {
						display: block;
					}
				}
				li.menu-item-has-children {
					&:last-child {
						padding-bottom: 10px;
					}
					> a:after {
						margin-left: 10px;
						content: '\25BE';
						color: white;
						color: rgba(255,255,255,0.6);
						font-size: 24px;
						position: relative;
						top: 2px;
						@include transition (color 0.2s ease);
					}
					&:hover {
						a:after {
							color: $yellow;
						}
					}
				    .sub-menu {
				    	position: absolute;
				    	top: 35px;
				    	line-height: 55px;
				    	max-height: 0px;
				    	overflow: hidden;
				    	width: 100%;
				    	width: 100vw;
				    	left: 0;
				    	left: calc(-50vw + 50%);
				    	margin: 0;
				    	background: rgba(0, 0, 0, 0.4);
				    	text-align: center;
				    	@include transition(max-height 0.25s ease);
				    	li {
				    		display: inline;
				    		a {
				    			vertical-align: top;
				    			color: $white;
				    			display: inline;
				    			&:after {
				    				content: '';
				    			}
				    		}
				    	}
				    	@include media(tablet_large) {
			    			display: block;
			    			position: relative;
							right: 0;
							left: auto;
							top: 0;
							line-height: 18px;
							height: auto;
							width: auto;
							text-align: right;
							li {
								display: block;
								a {
									color: white;
									margin: 8px 0;
								}
							}
			    		}
				    }
				    .show_submenu {
				    	height: auto;
				    	max-height: 50px;
				    	@include media(tablet_large) {
				    		@include transition(max-height .5s ease);
				    		max-height: 250px;
				    	}
				    }
				}
				// li.wide {
				// 	.show_submenu {
				// 		height: 50px;
				// 		display: table;
				// 		vertical-align: middle;
				// 		li {
				// 			// display: table-cell;
				// 			display: inline-block;
				// 			vertical-align: middle;
				// 			// width: 120px;
				// 			line-height: 10px;
				// 			a {
				// 				width: 115px;
				// 				display: block;
				// 				text-align: center;
				// 				margin: 0 auto;
				// 			}
				// 		}
				// 	}
				// }
			}
			@include media(tablet_large) {
				#main_nav {
					display: none;
					text-align: right;
					top: 0;
					// padding: 15px 0;
					position: relative;
					li {
						display: block;
						margin: 8px 20px;
					}
				}
			}
		}
		#mobile_menu {
			cursor: pointer;
		}
		.utility {
			position: absolute;
			left: 29%;
			top: 0;
			margin-top: 14px;
			z-index: 2;
			@media (max-width: 767px) and (min-width: 480px) {
				right: 29%;
				left: auto;
			}
			@include tablet-portrait-and-up {
				right: 130px;
				left: auto;
			}
			@include tablet-landscape-and-up {
				top: 0;
				right: 0;
				left: auto;
				margin-top: 0;
			}
			.search_wrap, a {
				display: inline-block;
				margin: 0 20px;
				color: $light_gray;
				font-weight: bold;
				@include media(tablet_large) {
					display: none;
				}
			}
			.btn {
				@include media(tablet_large) {
					display: block;
				}
			}
		}
	}
}

// SEARCH STYLES
.search_wrap a {
	display: inline-block;
	margin: 0 20px;
	color: $light_gray;
	font-weight: bold;
}
.search_wrap {
	margin: 0;
}
.search-box {
  @include transition (width $tl, border-radius $tl, background $tl, box-shadow $tl);
  width: 40px;
  height: 40px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  background: transparent;
  & + label .search-icon {    color: $light_gray    }
  &:hover {
    color: white;
    // background: $black;
    & + label .search-icon {    color: white    }
  }
  &:focus {
    @include transition (width $tl cubic-bezier(0,1.22,.66,1.39), border-radius $tl, background $tl);
    border: none;outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: $trans_white;
    color: white;
    & + label .search-icon {    color: $white;    }
  }
  &:not(:focus) {    text-indent:-5000px;    } // for more-graceful falling back (:not browsers likely support indent)
}

input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0px 1000px $light_gray inset !important;
}

#search-submit {
  position: absolute;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
  // z-index: -1;
}

// FULL NAV BAR EXPAND STYLES
.expand_down {
	// padding: 20px 0 0;
	@include tablet-landscape-and-up {
		padding: 20px 0 60px;
	}
}

.lease-sell {
	position: relative;
	z-index: 1;
	height: 25px;
	margin: 0 !important;
	top: 7px;
	left: -13px;

	.tooltip {
		position: absolute;
		width: 350px;
		right: -12px;
		padding: 15px 20px;
		background-color: $white;
		color: $black;
		line-height: 1.3;
		font-weight: normal;
		font-size: 14px;
		z-index: -1;
		visibility: hidden;
		opacity: 0;
		@include transition(0.3s);

		&:after {
			bottom: 100%;
			right: 12px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			border-width: 10px;
			margin-left: -20px;
		}
	}
}

.more .active, .more .active:after {
	color: $yellow !important;
}

.qmark:hover + .tooltip {
	z-index: 3;
	opacity: 1;
	visibility: visible;
	@include transition(0.3s);
}

// Change nav background depending on page
.home {
	nav {
		background: $dark_gray;
		@include tablet-landscape-and-up {
			background: #2e2e2d;
			background: -moz-linear-gradient(to bottom, rgba(56, 56, 56, 0.75) -2%, rgba(0, 0, 0, 0.01) 96%); /* FF3.6-15 */
			background: -webkit-linear-gradient(to bottom, rgba(56, 56, 56, 0.75) -2%, rgba(0, 0, 0, 0.01) 96%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(56, 56, 56, 0.75) -2%, rgba(0, 0, 0, 0.01) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
			position: absolute;
			height: 110px;
		    top: 0;
		    left: 0;
		    z-index: 99;
		}
	}	
}

// fix spacing on interest owners sub nav
#main_nav #menu-item-120 .sub-menu .menu-item {
	@include tablet-landscape-and-up {
		margin: 0 0.95%;
	}
}

#main_nav #menu-item-1006, #main_nav #menu-item-1007 {
	@include tablet-landscape-and-up {
		display: none;
	}
}

.mobile-search-icon {
    float: right;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    @include tablet-landscape-and-up {
    	display: none;
    }
    .search-icon {
    	left: 0;
    	z-index: 9;
    	font-size: 1.5em;
    	padding: 10px;
    }
}

#secondary-searchform {
	margin: 0 auto;
	width: 90%;
	max-width: 300px;
	position: relative;
}

.secondary_search_wrap {
	background-color: #3D3D3C;
	width: 100%;
    text-align: center;
    padding: 10px;
    display: none;

    label {
    	top: 50%;
    	position: absolute;
    	right: 0;
    	left: auto;
    	margin-top: -12px;
    }
    .search-icon {
    	pointer-events: none;
    }
}

.secondary-search-box {
	max-width: 300px;
	width: 90%;
	background: $trans_white;
}

.staff-login-btn {
	width: 60px;
	line-height: 1;
	@media screen and (min-width: 400px) {
		width: inherit;
		line-height: inherit;
	}
}