.sticky-wrapper {
	height:129px;
	width:100%;
	position:absolute;
	z-index:100;
	@include breakpoint(tablet) {
		width:100%;
		height:auto;
		position:absolute;
		top:0;
	}
}
.header-container {
	width:100%;
	&.stuck, .single-post &, .page-template-default & {
		position:fixed;
		top:0;
		@include breakpoint(tablet) {
			position:absolute;
		}
	}
}
header {
	position:relative;
	text-align:center;
	background:url('../images/bg_wood.png') repeat-x $white;
	height:114px;
	width:100%;
	.mobile-trigger {
		display:none;
		position:absolute;
		top:47px;
		right:5%;
		border:1px solid $brown;
		padding:10px 34px 9px 12px;
		font-size:0.785em;
		line-height:1em;
		text-transform:uppercase;
		color:$brown;
		font-weight:500;
		background:inline-image('../images/hamburger_trigger.png') no-repeat 56px center;
		background-size:21px 13px;
		@include retina-display() {
			background-image:inline-image('../images/hamburger_trigger@2x.png');
		}
		.open & {
			// @include single-transition(height, 0s);
			background-image:inline-image('../images/icon_close.png');
			background-size:17px 16px;
			@include retina-display() {
				background-image:inline-image('../images/icon_close@2x.png');
			}
		}
		@include breakpoint(tablet) {
			display:block;
		}
	}
	@include breakpoint(tablet) {
		height:93px;
		padding-top: 12px;
	}
	// @include single-box-shadow(0, -2px, 4px, 0px, rgba(0,0,0,.1), false);
	nav {
		// display:inline-block;
		@include breakpoint(tablet) {
			background:$white;
			height:85px;
			overflow:hidden;
			@include single-transition(height, .4s);
			.open & {
				height:550px;
			}
			.container {
				width:90%;
				margin-left: 5%;
			}
		}
		a {
			float:left;
			margin-left: 2.3%;
			font-size:0.875em;
			margin-top: 20px;
			color:$light_blue;
			text-align:left;
			font-weight:bold;
				@include breakpoint(small-desktop) {
					margin-top: 46px;
				}
				@include breakpoint(large-desktop) {
					font-size:inherit;
					margin-left: 2.4%;
				}
			@media (min-width: 1320px)  {
				margin-left: 4%;
			}
			&.button {
				padding:6px 8px;
				margin-top: 14px;
				float:right;
				margin-left: 0;
				font-size:0.75em;
				letter-spacing:1px;
				@include breakpoint(small-desktop) {
					margin-top: 46px;
				}
				@include breakpoint(desktop) {
					padding:6px 14px;
					letter-spacing:2px;
				}
				@include breakpoint(large-desktop) {
					border:1px solid $brown;
					padding:8px 20px;
					text-decoration:none;
					float:right;
				}
			}
			&:nth-child(3) {
				max-width:105px;
				@include breakpoint(desktop) {
					max-width:300px;
				}
			}
			&.button:hover {
				background:$white;
				color:$brown;
				text-decoration:none;
			}
			.top-line {
				font-family:$alt_font;
				font-weight:bold;
				@include breakpoint(small-desktop) {
					font-weight:500;
				}
			}
			&.logo {
				margin-right: 10px;
				margin-top: 2px;
				margin-left: 0;
				img {
					width:243px;
					height:auto;
					margin-top: 42px;
					@media (min-width: 1320px)  {
						width:100%;
					}
				}
			}
			&.call-us {
				display:none;
				background:url('../images/icon_phone.png') no-repeat 88% center;
				background-size:17px 18px;
				@include retina-display() {
					background-image: url('../images/icon_phone@2x.png');
				}
			}
			&.contact-nav {
				width:37px;
				height:31px;
				float:left;
				background:inline-image('../images/icon_contact.png') no-repeat center 5px;
				background-size:29px 18px;
				// margin-right: 1.2%;
				// margin-left: 1.2%;
				@include retina-display() {
					background-image:inline-image('../images/icon_contact@2x.png');
				}
				@include breakpoint(small-desktop) {
					// margin-top: 46px;
				}
				@include breakpoint(large-desktop) {
					background-size:37px 26px;
					// background-position:center 4px;
					// margin-left: 2%;
				}
			}
			@include breakpoint(tablet) {
				border-top:1px solid $black;
				padding:18px 0;
				width:100%;
				font-size:1.125em;
				margin-left: 0;
				margin-bottom: 0;
				margin-top: 0;
				&:nth-child(3) {
					max-width:100%;
				}
				&:first-child {
					border-top:none;
				}
				&.button {
					width:46%;
					float:right;
					padding:0;
					line-height:1em;
					min-width:134px;
					letter-spacing:inherit;
					font-size:0.75em;
					padding-top: 19px;
					padding-bottom: 17px;
				}
				&.call-us {
					display:block;
					float:left;
				}
				&.logo {
					img {
						width:177px;
						margin-top: 20px;
					}
				}
			}
		}
	}
}