.top {
	overflow:hidden;
	height:100%;
	@include calc(height,'100% - 114px');
	padding-top: 0;
	.find-your-home-container {
		text-align:right;
		
	}
	.button {
		position:absolute;
		right:50px;
		bottom:80px;
		width:345px;
		line-height:80px;
		padding:0;
		font-size:1.25em;
		border:2px solid $brown;
		z-index:20;
	}
	.slider {
		height:100%;
		background:$white;
		.flexslider {
			// @include calc(height,'100% - 262px');
			// @include calc(height,'100% - 262px');
			height:100%;
			.slides {
				height:100%;
				li {
					height:100%;
					.slider-photo {
						overflow:hidden;
						@include calc(height,'100% - 245px');
					}
					.slider-text {
						position:absolute;
						left:10%;
						bottom:44px;
						img {
							width:auto;
						}
					}
				}
			}
			.flex-control-nav {
				bottom:15px;
			}
		}
	}
	@include breakpoint(tablet) {
		height:auto;
		top:93px;
		padding-bottom:60px;
		a.button {
			position:absolute;
			left:50%;
			// bottom:50px;
			bottom:170px;
			// margin-left:-82px;
			margin-left: -120px;
			width:240px;
			height:40px;
			line-height:40px;
		}
		.slider {
			.flexslider {
				height:auto;
				padding-bottom: 50px;
				.flex-control-nav {
					bottom:10px;
				}
			}
		}
		.slider .flexslider .slides {
			// @include calc(height,'100% - 120px');
		}
		.slides {
			background:$white;
		}
		.slider .flexslider .slides li {
			.slider-photo {
				height:auto;
			}
			.slider-text {
				position:relative;
				bottom:60px;
				left:5%;
				img {
					width:90%;
					// max-width:;
				}
			}
		}
	}
}