.map {
	position:absolute;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:8;
	display:block;
	top:100%;
	@include single-transition(all,.25s,ease-out);
	@include breakpoint(tablet) {
		display:none;
		top:0;
	}
	&.shown {
		top:75px;
		@include breakpoint(tablet) {
			top:0;
			display:block;
		}
		.map-area {
			top:0;
		}
	}
	.close-button {
		position:absolute;
		width:40px;
		height:40px;
		top:66px;
		right:20px;
		background:inline-image("../images/close_button.png") no-repeat;
		background-size:40px 40px;
		cursor:pointer;
		@include breakpoint(tablet) {
			top:110px;
			width:20px;
			height:20px;
			background-size:20px 20px;
		}
	}
	.map-area {
		position:absolute;
		background:$white;
		width:100%;
		height:100%;
		top:0;
		overflow:hidden;
		.map-contents {
			width:1540px;
			height:801px;
			margin:0 auto;
			@include breakpoint(tablet) {
				margin-left:-770px;
				margin-top:-200px;
			}
			.pin {
				position:absolute;
				width:33px;
				height:46px;
				background:inline-image('../images/pin_small.png') no-repeat;
				background-size:33px 46px;
				@include retina-display() {
					background-image:inline-image('../images/pin_small@2x.png');
				}
				&.large {
					width:56px;
					height:78px;
					background:inline-image('../images/pin_large_empty.png') no-repeat;
					background-size:56px 78px;
					@include retina-display() {
						background-image:inline-image('../images/pin_large_empty@2x.png');
					}
				}
				&.rossonian {
					width:56px;
					height:78px;
					background:inline-image('../images/pin_rossonian.png') no-repeat;
					background-size:56px 78px;
					@include retina-display() {
						background-image:inline-image('../images/pin_rossonian@2x.png');
					}
				}
				&.wheatley {
					width:56px;
					height:78px;
					background:inline-image('../images/pin_wheatley.png') no-repeat;
					background-size:56px 78px;
					@include retina-display() {
						background-image:inline-image('../images/pin_wheatley@2x.png');
					}
				}
				&.star {
					width:56px;
					height:78px;
					background:inline-image('../images/pin_2560.png') no-repeat;
					background-size:56px 78px;
					@include retina-display() {
						background-image:inline-image('../images/pin_2560@2x.png');
					}
				}
			}
			.score-badges {
				position:absolute;
				top:718px;
				left:24px;
				.score-walk, .score-transit, .score-bike {
					position:absolute;
					text-align:center;
					font-family:verdana, sans-serif;
					color:black;
					font-weight:bold;
					line-height:2.05em;
					font-size:2.5em;
				}
				.score-walk {
					left:0;
					top:7px;
					width:78px;
					height:82px;
					background:inline-image('../images/icon_score_walk.png') no-repeat;
					@include retina-display() {
						background-image:inline-image('../images/icon_score_walk@2x.png');
					}
				}
				.score-transit {
					top:5px;
					left:96px;
					width:79px;
					height:81px;
					background:inline-image('../images/icon_score_transit.png') no-repeat;
					@include retina-display() {
						background-image:inline-image('../images/icon_score_transit@2x.png');
					}
				}
				.score-bike {
					top:0;
					left:192px;
					width:86px;
					height:85px;
					line-height:2.2em;
					background:inline-image('../images/icon_score_bike.png') no-repeat;
					@include retina-display() {
						background-image:inline-image('../images/icon_score_bike@2x.png');
					}
				}
			}
		}
	}
}