.neighborhood {
	position:relative;
	img {
		width:100%;
		height:auto;
	}
	.slider {
		overflow: hidden!important;
		width: 100%!important;
		height: 100%!important;
		position:absolute;
		z-index:1;
		// height: -mox-calc(100% - 65px);
		// height: -o-calc(100% - 65px);
		// height: -webkit-calc(100% - 65px);
		// height: calc(100% - 65px);
	}
	.flexslider {
		padding:0;
		margin: 0;
		border:none;
		overflow: hidden!important;
		width: 100%!important;
		height: 100%!important;
		&.flex-viewport {
			width: 100%!important;
			height: 100%!important;
			margin:0;
		}
		.slides {
			width: 100%!important;
			height: 100%!important;
			margin:0;
		}
		.slides li {
			width: 100%!important;
			height: 100%!important;
			margin:0;padding:0;          
			-webkit-background-size: cover!important;
			-moz-background-size: cover!important;
			-o-background-size: cover!important;
			background-size: cover!important;
			background-position: top center;
			h1 {
				position:absolute;
				width:70%;
				text-align:center;
				margin:0 auto;
				left:50%;
				margin-left: -35%;
				top:50%;
				margin-top: -120px;
				color:$white;
				font-size:2.125em;
				padding-top: 26px;
				background:inline-image('../images/ornament.png') no-repeat top center;
				background-size:144px 20px;
				@include breakpoint(tablet) {
					font-size:1em;
				}
			}
		}
		.flex-control-paging {
			bottom:64px;
			z-index:20;
			display:none;
			@include breakpoint(tablet) {
				display:block;
			}
			li a {
				width:25px;
				height:25px;
				background:inline-image('../images/nav_bullet.png') no-repeat;
				background-size:25px 25px;
				@include retina-display() {
					background-image:inline-image('../images/nav_bullet@2x.png');
				}
				&.flex-active {
					background-image:inline-image('../images/nav_bullet_on.png');
					@include retina-display() {
						background-image:inline-image('../images/nav_bullet_on@2x.png');
					}
				}
			}
		}
	}
}
.map-bug {
	background:inline-image('../images/trigger_view_map.png') no-repeat top center;
	width:246px;
	height:123px;
	background-size: 246px 246px;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left: -123px;
	z-index:8;
	@include retina-display() {
		background-image:inline-image('../images/trigger_view_map@2x.png');
	}
	@include breakpoint(tablet) {
		width:124px;
		height:62px;
		background-size: 124px 124px;
		margin-left: -62px;
	}
}