/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "fonts";
@import "colors";
@import "mixins";

body, html {
	margin:0;
	padding:0;
	font-family:$body_font;
	height:100%;
	-webkit-font-smoothing:antialiased;
	-webkit-appearance:none;
	color:$brown;
}
a {
	text-decoration:none;
}
h1 {
	font-size:3.125em;
	font-family:$alt_font;
	color:$blue;
	margin-bottom: 0.9em;
	margin-top: 0;
	padding:20px 0 5px 20px;
	background:url('../images/heading_flourish.png') no-repeat;
	background-size:75px 75px;
	@include retina-display() {
		background-image:url('../images/heading_flourish@2x.png');
	}
	.brown {
		color:$brown;
	}
	.line-2 {
		margin-left: 90px;
		@include breakpoint(mobile) {
			margin-left: 0;
		}
	}
}
h2 {
	color:$brown;
	font-size:1.875em;
	margin-bottom: .5em;
	font-family:$alt_font;
	font-weight:700;
}
h3 {
	color:$brown;
	font-size:1.5em;
	font-weight:500;
}
p {
	font-size:1.125em;
	line-height:1.67em;
	margin-bottom: 1.6em;
	margin-top: 0;
	&.center-on-mobile {
		@include breakpoint(tablet) {
			text-align:center;
		}
	}
}

.container {
	max-width:1320px;
	margin:0 2em;
	@media (min-width: 1320px) { 
		margin:auto;
	}
	@include breakpoint(mobile) {
		margin:0 1em;
	}
	&.half-container {
		max-width:660px;
		@media (min-width: 1320px) { 
			margin:0 0 0 auto;
		}
		@include breakpoint(mobile) {
			margin:0 5%;
		}
	}
}

a.button, .button, input[type=submit], a.read-more {
	display:inline-block;
	text-decoration:none;
	color:$brown;
	line-height:1.286em;
	padding:8px 28px;
	border:1px solid $brown;
	text-align:center;
	font-family:$body_font;
	font-weight:700;
	font-size:0.875em;
	letter-spacing:2px;
	cursor:pointer;
	text-transform:uppercase;
	&.selected, &:hover {
		background:$blue;
		color:$white;
		border-color:$blue;
	}
	@include breakpoint(tablet) {
		// font-size:1.125em;
		// padding:0 15px;
		// line-height:2em;
		// height:2em;
	}
}
input[type=submit] {
	height:2em;
	line-height:2em;
}
.page-section {
	position:relative;
	background-size:cover;
	width:100%;
	padding-top: 114px;
	&.fullscreen {
		min-height:100%;
		overflow:hidden;
		@include breakpoint(tablet) {
			padding-top:20px;
			overflow:inherit;
			min-height:0;
		}
	}
	@include breakpoint(tablet) {
		min-height:0;
		padding-top:20px;
		position:relative;
		// margin-top:-20px;
	}
	section {
		display:none;
		&.selected {
			display:block;
		}
	}
}

.mobile-only {
	display:none;
	@include breakpoint(tablet) {
		display:block;
	}
}
.slider {
	.flexslider {
		
	}
	.flex-control-paging {
		z-index:20;
		li a {
			border:none;
			@include single-box-shadow(0,0,0,0);
			@include border-radius(0,0);
			width:20px;
			height:20px;
			background:inline-image('../images/bullet.png') no-repeat;
			background-size:20px 20px;
			@include retina-display() {
				background-image:inline-image('../images/bullet@2x.png');
			}
			&:hover {
				background-color:transparent;
				background:inline-image('../images/bullet.png') no-repeat;
				background-size:20px 20px;
				@include retina-display() {
					background-image:inline-image('../images/bullet@2x.png');
				}
			}
			&.flex-active, &.flex-active:hover {
				background:transparent;
				background-image:inline-image('../images/bullet_filled.png');
				background-size:20px 20px;
				@include retina-display() {
					background-image:inline-image('../images/bullet_filled@2x.png');
				}
			}
		}
	}
	.flex-direction-nav, .lifestyle-direction-nav {
		position:absolute;
		top: -mox-calc(50% - 35px);
		top: -o-calc(50% - 35px);
		top: -webkit-calc(50% - 35px);
		top: calc(50% - 35px);
		width:100%;
		z-index:50;
		@include breakpoint(tablet) {
			display:none;
		}
		& li {
			.flex-nav-next, .lifestyle-nav-next {
				&:before {
					content:" ";
				}
			}
		}
		a {
			text-decoration: none;
			display: block;
			width: 92px;
			height: 92px;
			margin: 0 0 0;
			position: absolute;
			top: -mox-calc(50% - 65px);
			top: -o-calc(50% - 65px);
			top: -webkit-calc(50% - 65px);
			top: calc(50% - 65px);
			z-index: 10;
			overflow: hidden;
			@include opacity(1);
			cursor: pointer;
			@include single-text-shadow(0,0,0);
			&:focus, &:selected {
				outline:none;
			}
			&.flex-disabled, &.lifestyle-disabled {
				text-decoration:none;
				display:none;
				&:focus, &:selected {
					outline:none;
				}
			}
			&.flex-prev, &.lifestyle-prev {
				background:url('../images/left_arrow.png') no-repeat;
				left:20px;
				&:hover {
					left:20px;
				}
				&:focus, &:selected {
					outline:none;
				}
				opacity:1;
			}
			&.flex-next, &.lifestyle-next {
				background:url('../images/right_arrow.png') no-repeat;
				right:20px;
				&:hover {
					right:20px;
				}
				&:focus, &:selected {
					outline:none;
				}
			}
		}
	}
}

img.alignright {
	float:right;
	margin-left:15px;
	margin-bottom:15px;
	clear:right;
}
img.alignleft {
	float:left;
	margin-right:15px;
	margin-bottom:15px;
	clear:left;
}

@import "header";
// @import "footer";
@import "home";
@import "community";
@import "interiors";
@import "living_green";
@import "our_story";
@import "posts";
@import "testimonials";
@import "contact";
@import "footer";
// @import "contact";
// @import "residences";
// @import "neighborhood";
// @import "map";
// @import "development_team";
// @import "posts";